<div id="movieIndexContainer" class="container">
    <div class="row">
        <div id="left-pane" class="col-lg-6 col-12">
            <div class="row">
                <div id="movieTitle">
                    <h1 id="movieTitleText">The Shawshanks redemption</h1>
                </div>
            </div>
            <div class="row">
                <div id="movieYear">
                    <h1 id="movieTitleText">(1994)</h1>
                </div>
            </div>
            <div class="row">
                <div id="movieGenres">
                    <span id="genreText">Action</span>
                    <span id="genreText">Comedy</span>
                    <span id="genreText">Drama</span>
                    <span id="genreText">Sport</span>
                </div>
            </div>
            <div class="row">
                <div class="movieRating">

                </div>
            </div>
            <div class="row">
                <div class="movieTrailer">

                </div>
            </div>
        </div>
        <div id="right-pane" class="col-lg-6 col-12">
            <div class="row">
                <div id="moviePoster" class="col-md-5 col-12">
                    <div class="ratio ratio-1x1">
                        <img id="moviePosterImg" class="img-fluid object-fit-cover"
                             src="https://humanehollywood.org/app/uploads/2020/06/5KCVkau1HEl7ZzfPsKAPM0sMiKc-scaled.jpg" />
                    </div>               
                </div>
                <div id="movieDescription" class="col-md-5 col-12">
                    <p id="movieDescriptionText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra dictum nisi a malesuada. Cras ipsum erat, venenatis ut augue vel, suscipit viverra mauris. Nulla fermentum facilisis tincidunt. Curabitur mollis, quam at efficitur tempor, neque magna placerat tortor, quis aliquet arcu ligula vel nisi. Sed luctus nisl a sapien bibendum, non sagittis purus vulputate. Donec tempus libero non turpis pellentesque pulvinar. Proin quis ligula a quam pulvinar consectetur at in nunc. Fusce fringilla augue sit amet tristique laoreet. Praesent id fermentum enim, id consequat neque. Nulla vel mauris feugiat, imperdiet ex in, ornare tortor. Nulla eu ligula a ex varius malesuada fringilla et tellus. Quisque id nibh arcu.

                        Etiam ullamcorper porta mauris et interdum. Sed ac nibh a turpis fermentum accumsan. Praesent laoreet iaculis elit, sed lobortis urna eleifend in. In auctor ipsum eget augue rhoncus auctor. Maecenas ornare lorem dui, eu laoreet sem finibus in. Interdum et malesuada fames ac an
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>